
# BEGIN WordPress
# Директивите (редовете) между "BEGIN WordPress" и "END WordPress" са
# динамично генерирани и трябва да се променят само чрез филтрите на WordPress.
# Всяка промяна на директивите между тези маркери ще бъде заличена.

# END WordPress